#title {
  font-size: 100px;
}



#die {
  background-color: lightblue;
}

.player-turn-true {
  background-color: #51be12;
}

.player-turn-false {
  background-color: #c04848;
}

#player1Box, #player2Box, #die {
  font-family: sans-serif;
  box-shadow: 6px 6px 6px black;
  width: 170px;
  height: 170px;
  margin: auto;
}

#button-roll {
  box-shadow: 3px 5px 8px black;
  background: gray;
  border-radius: 50%;
  border: white 15px dashed;
  width: 170px;
  height: 170px;
  margin: auto;
  margin-bottom: 20px;
}

#roll-text {
  margin-top: 30%;
  color: white;
}

#button-hold {
  width: 170px;
  height: 80px;
  margin: auto;
  margin-top: 20px;
  background-color: rgb(210, 212, 46);
  font-family: sans-serif;
  box-shadow: 6px 6px 6px black;
}

body {
  text-align: center;
  background-image: url("../img/dice-back.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: auto;
}



/* -------------- Title Animation -------------- */
.wrapper {
  text-shadow: rgb(148, 18, 35) 5px 2px 1px;
	text-align: center;
  color: #fff;
  font-size: 100px;
  font-family: cursive;
  font-weight: 700;
  margin: 25px 25px 15px 0px;
  background: linear-gradient(to right, #a4c9c4 10%, rgb(136, 33, 33) 50%, #daddc7 60%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 7s linear infinite;
  display: inline-block;
	}
@keyframes textclip {
	to {
		background-position: 200% center;
	}
}


/* ----------- modal ------------ */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}